*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.img-box{
    width: 60%;
    background-color: rgb(253, 84, 149);
}

.img-box>img{
    width: 100%;
    margin: auto;
    filter: opacity(0.4) brightness(0.7) contrast(200%);
}